/* @font-face {
  font-family: "vazir";
  src: url("/font/Vazirmatn-Medium.ttf");
} */
@font-face {
  font-family: "vazir";
  src: url("/font/IRANSans/IRANSansWeb.ttf");
}

*{
  font-family: "vazir";
}

body{
  direction: rtl;
  background-color: #FBFAF6;
}
.active{
  @apply bg-green-400 text-red-700 
}